<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xm1801</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechargeServlet</display-name>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/RechargeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterShow</display-name>
    <servlet-name>CenterShow</servlet-name>
    <servlet-class>servlet.CenterShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterShow</servlet-name>
    <url-pattern>/CenterShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMoneyServlet</display-name>
    <servlet-name>GetMoneyServlet</servlet-name>
    <servlet-class>servlet.GetMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMoneyServlet</servlet-name>
    <url-pattern>/GetMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPassWdServlet</display-name>
    <servlet-name>FindPassWdServlet</servlet-name>
    <servlet-class>servlet.FindPassWdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPassWdServlet</servlet-name>
    <url-pattern>/FindPassWdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestructionServlet</display-name>
    <servlet-name>DestructionServlet</servlet-name>
    <servlet-class>servlet.DestructionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestructionServlet</servlet-name>
    <url-pattern>/DestructionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quit</display-name>
    <servlet-name>Quit</servlet-name>
    <servlet-class>servlet.Quit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quit</servlet-name>
    <url-pattern>/Quit</url-pattern>
  </servlet-mapping>
</web-app>